body{
 background-image: url("https://fv2-1.failiem.lv/thumb_show.php?i=feqf3cvee&view")
}
header{
margin-top: 70px;
font-family: Cuprum, Arial, Helvetical, sans-serif;
}
.dvs-menu *{
 margin: 0;
 padding: 0;
}
.dvs-menu ul,
.dvs-menu ol{
 list-style: none;
}
.dvs-menu > ul{
 display: flex;
 justify-content: center;
}
.dvs-menu > ul li a{
 display: block;
 background: #ececed;
 padding: 45px 95px 45px 80px;
 font-size: 24px;
 color: #454547;
 text-decoration: none;
 text-transform: uppercase;
 transition: all 0.3s ease;
}
.dvs-menu > ul li{
 position: relative;
 border-right: 1px solid #c7c8ca;
}
.dvs-menu > ul li > a i.fa{
 position: absolute;
 top: 15px;
 left: 12px;
 font-size: 18px;
}
.dvs-menu > ul li:first-child{
 border-left: 1px solid #babbbb;
}
.dvs-menu > ul li:last-child{
 border-right: 1px solid #babbbb;
}
.dvs-menu li a:hover{
 background: #454547;
 color: #ffffff;
 box-shadow: 1px 5px 10px -5px black;
 transition: all 0.3s ease;
}

/*sub-menu*/
.dvs-menu li ul{
 position: absolute;
 min-width: 150px;
 display: none;
}
.dvs-menu li > ul li{
 border: 1px solid #c7c8ca;
}
.dvs-menu li > ul li a{
 padding: 10px;
 text-transform: none;
 background: #e4e4e5;
}
.dvs-menu li:hover > ul{
 display: block;
}